@charset "utf-8";
$branco: #fff;
$preto: #000;
$cinza: #e6e6e6;

$cor-primaria: #d73b1e;
$cor-secundaria: #523468;

$fonte-primaria:'Georgia',serif;
$fonte-secundaria:'Oswald', sans-serif;

$text-color: $preto;

$container-size:960px;

*{
    margin: 0;
    padding: 0;
    font-family: $fonte-secundaria;
}
input {
    height: 40px;
    border:1px solid $preto;
    border-radius: 5px;
}
.container{
    max-width:$container-size;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    padding:10px;
}
@mixin botao {
    height: 40px;
    border:0;
    border-radius:5px;
    box-sizing: border-box;
    padding:10px;
}

.pre-header {
    box-sizing: border-box;
    padding:20px;
}
header > .pre-header > .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brand{
    width: 238px;
}
.brand img {
    max-width: 100%;
}
.search{
    width: 282px;
    position: relative;
}
.search input {
    width:100%;
}
input::placeholder {
    text-align: center;
}
.sale {
    width: 118px;
    color:$cor-primaria;
}

.bag{
    width: 130px;
    color: darken($color: $cinza, $amount: 30);
    text-transform: uppercase;
}
.product-unit{
    color: $cor-primaria;
}
.navigation-area > .container {
    flex-flow: column;
}
.navigation-area{
    color: $branco;
    background: $cor-secundaria;
    box-sizing: border-box;
}
.navigation-links > ul {
    list-style: none;
    display: flex;
    flex-direction: column;  
}
.navigation-links > ul > li {
    font-family: $fonte-primaria;
    padding:15px;
    font-style: italic;
}
.navigation-links > ul > li::after{
    content: "▼";
    font-size: 10px;
    margin-left: 5px;
}
.navigation-links > ul > li:last-child{
    font-style: italic;
    @include botao;
    background: darken($color: $cor-secundaria, $amount: 8);
}
.navigation-links > ul > li:last-child::after{
    content: " ";
}
.client-area{
    font-family: $fonte-primaria;
    padding:20px 0 10px;
}
.or {
    font-family: $fonte-primaria;
    color: lighten($color:$cor-secundaria, $amount: 50);
}
#potions > .container {
    flex-wrap:wrap;
}
.section-title{
    font-family: $fonte-primaria;
    margin-top:50px;
    margin-bottom:30px;
}
.potion-box{
    width: 50%;
    font-size:14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:100px;
}
.potion-image{
    max-width: 80%;
}
.potion-basic-info{
    text-align: center;
}
.potion-name{
    font-family: $fonte-primaria;
}
.potion-price{
    color:$cor-primaria;
    font-family: $fonte-primaria;
    font-weight: 100;
}
footer{
    background: $cinza;
    padding: 30px;
    box-sizing: border-box;
    
}
footer > .container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.newsletter-box{
    width:100%;
    box-sizing: border-box;
    padding:25px;
    border-radius:5px;
    background:$branco;
}
.newsletter-title{
    font-family: $fonte-primaria;
    font-style: italic;
}
.newsletter-box input {
    width: 70%;
}
.botao-primario{
    @include botao;
    width:25%;
    color:$branco;
    text-align:center;
    background: $cor-primaria;
    text-transform: uppercase;
}
.botao-primario:hover{
    background: darken($color: $cor-primaria, $amount: 5)
}
.newsletter-box p {
    padding-bottom:20px;
}
.footer-navigation{
    width: 100%;
}
.footer-links{
    color:$cor-primaria;
    display: none;
    text-transform: uppercase;
}
.footer-links a{
    color: $cor-primaria;
    text-decoration:none;
    font-weight: 500;
    padding-right:36px;
}
.social-links{
    padding:30px 0;
}
.media-link{
    padding-right:30px;
}
.copyright{
    font-size:14px;
}

@media (min-width:640px) {
    .sale {
        width: 118px;
        color:$cor-primaria;
    }
    .free-shipping{
        font-size:18px;
        font-family: $fonte-primaria;
        font-style: italic;
    }
    .bag {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .navigation-area > .container{
        flex-flow: row;
        align-items: center;
    }
    .navigation-links{
        width: 80%;
    }
    .navigation-links > ul {
        flex-direction: row;  
    }
    .client-area{
        width: 20%;
        padding:0;
    }
    #potions > .container {
        flex-wrap: wrap;
    }
    .potion-box{
        width: 33%;
    }
    footer > .container {
        flex-direction: row;
        align-items:center;
    }
    .footer-links{
        display: block;
    }
    .newsletter-box{
        width:430px;
        order:2;
    }
    .footer-navigation{
        width: 390px;
    }
}