$red: #d73a1e;
$purple: #523468;
$light-purple: #a58ec2;
$medium-purple: #6a5483;
$dark-purple: #422a53;
$dark: #222222;
$gray: #737373;
$light-gray: #e6e6e6;
$medium-gray: #666666;
$branco: #fff;
