@import "_functions";

//Váriavel de font-base
$fontBase: 16 !default;

$gap: pxToRem(40);
$gapMd: pxToRem(30);
$gapSm: pxToRem(20);
$gapXs: pxToRem(10);
$gapXxs: pxToRem(5);

$colorWhite: #fff;
$colorBlack: #000;
$colorLightBlack: #333;
$colorPurple: #50356a;
$colorOrange: #cf2c01;
$colorLightOrange: #e36b2e;
$colorLightGray: #ececec;
$colorDarkGray: #707070;
$colorGray: #d1d1d1;
$colorGraySecond: #e6e6e6;
