@import "_functions";

//Váriavel de font-base
$fontBase: 16 !default;

$gap: pxToRem(40);
$gapMd: pxToRem(30);
$gapSm: pxToRem(20);
$gapXs: pxToRem(10);
$gapXxs: pxToRem(5);

$colorWhite: #fff;
$colorBlack: #000;
$colorLightBlack: #333;
$colorPurple: #50356a;
$colorLightPurple: #6a5483;
$colorDarkPurple: #412a56;
$colorOrange: #cf2c01;
$colorLightOrange: #e36b2e;
$colorLightGray: #ececec;
$colorDarkGray: #707070;
$colorGray: #d1d1d1;
$colorGraySecond: #e6e6e6;

$arrow: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QIYDRkOisFZ2wAAAONJREFUKM9jDDLJYKAEMDFQCCg2gAWJzcXAwGCFRQ0HAwMDJ5rYbgYGhg/oBqia2evvVlCTwWvjty/fGbYs36eNzYCbV87e2hWe5uOGy5BvX74z1Kb3MTAwMHzBFgY/vn357lub3rfpwa0nuDT/eHDriR0DA8NTXIH469uX76G16X0bkA2Ban724NYTVQYGhsMMDAx/YXLMmlIm6Jb9/f3rz7oju85oGVlpa7GxszLUpvedfXDriQkDA8MbdMWMeBISCxcPp72YlLDcg1tPFjIwMPwjFI3o4M+3L9/3YgsPqiYkAASCViyuk0WrAAAAAElFTkSuQmCC');