//Estilos de utlidades
@import '../_utilities/utilities';

.l-gridA {
  @include flexboxContainer(flex, null, wrap, space-around, null, null);

  &_item {
    @include calc(width, '50% - #{pxToRem(10)}', null);
  }

  @media(min-width: pxToRem(568)) {
    &_item {
      @include calc(width, '50% - #{pxToRem(20)}', null);
    }
  }

  @media(min-width: pxToRem(768)) {
    @include flexboxContainer(null, null, null, space-between, null, null);

    &_item {
      @include calc(width, '(100% - #{pxToRem(100)}) / 3', null);
    }
  }
}

.l-gridB {
  @include flexboxContainer(flex, null, nowrap, space-between, center, null);

  &_itemA,
  &_itemB {
    display: inline-block;
  }

  &_itemA {
    @include calc(width, '100% - #{pxToRem(90)}', null)
  }

  &_itemB {
    width: pxToRem(84);
  }

  @media(min-width: pxToRem(568)) {
    &_itemA {
      @include calc(width, '100% - #{pxToRem(124)}', null)
    }

    &_itemB {
      width: pxToRem(114);
    }
  }
}
