//Estilos de utlidades
@import '../_utilities/utilities';

.l-header {
  &_contentA {
    @include flexboxContainer(flex, null, wrap, space-between, center, null);
    margin: 0 auto;
    position: relative;
  }

  &_contentA {
    max-width: pxToRem(950);
    padding: pxToRem(20) pxToRem(10) pxToRem(30);

    .m-formA--search {
      position: absolute;
      @include transform(translateY(pxToRem(-500)));
    }
  }

  &_contentB {
    background-color: $colorPurple;
    transition: transform .20s ease-in-out;

    &_container {
      max-width: pxToRem(878);
      margin: 0 auto;
    }

    @media(max-width: pxToRem(767)) {
      @include transform(scaleY(0) translateY(pxToRem(-600)));
    }
  }

  &_iconMenu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: pxToRem(22);
    outline: none;
    padding: 0;
    width: pxToRem(32);

    &_bar {
      background-color: $colorPurple;
      border-radius: pxToRem(6);
      display: block;
      height: pxToRem(6);
      margin-bottom: pxToRem(2);
      overflow: hidden;
      transition: transform .12s ease-in-out, opacity .12s ease-in-out;
      width: 100%;
    }
  }

  &_logo {
    display: inline-block;
    text-align: center;
    transition: transform .12s ease-in-out;
    width: pxToRem(246);

    &_title {
      color: $colorOrange;
      font-family: 'Oswald', sans-serif;
      font-size: pxToRem(40);

      &_light {
        font-weight: 400;
      }
    }

    &_subtitle {
      color: $colorPurple;
      font-family: serif;
      font-weight: 600;
      font-style: italic;
      font-size: pxToRem(20);
      position: relative;

      &:before,
      &:after {
        content: ' ';
        background-color: $colorGray;
        display: inline-block;
        height: pxToRem(2);
        position: absolute;
        top: 50%;
        width: pxToRem(20);
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    @media(max-width: pxToRem(368)) {
      width: pxToRem(200);

      &_title {
        font-size: pxToRem(32);
      }

      &_subtitle {
        font-size: pxToRem(16);
      }
    }
  }

  &_quantify {
    max-width: pxToRem(52);
    margin: pxToRem(10) 0 0;
    text-align: center;

    &_wrap {
      display: inline-block;

      &_img {
        max-width: 100%;
      }
    }

    &_text {
      color: $colorGray;
      display: inline-block;
      text-transform: uppercase;

      &_paragraph {
        margin: 0;
      }

      &_number {
        color: $colorLightOrange;
        font-weight: 700;
      }
    }

    @media(max-width: pxToRem(400)) {
      max-width: pxToRem(44);
      font-size: pxToRem(14);

      &_wrap {
        max-width: pxToRem(36);
      }
    }

    @media(min-width: pxToRem(832)), (min-width: pxToRem(422)) and (max-width: pxToRem(620)) {
      max-width: pxToRem(122);

      &_wrap,
      &_text {
        font-size: pxToRem(14);
        vertical-align: middle;
      }
    }
  }

  &_price {
    background-color: $colorLightGray;
    color: $colorDarkGray;
    font-family: serif;
    font-weight: 600;
    font-style: italic;
    padding: pxToRem(10);

    &_text {
      font-size: pxToRem(18);
      margin: 0;

      &_featured {
        font-size: pxToRem(24);
      }

      &_number {}
    }

    @media(max-width: pxToRem(767)) {
      @include flexboxItens(5, auto, 1 1 auto);
      margin: pxToRem(5) pxToRem(-10) 0;
      text-align: center;
      width: 100%;
    }
  }

  &_nav {}

  &_menu {
    margin: 0;
    padding: 0;

    &_item {
      display: block;
      width: 100%;
    }

    &_link {
      color: $colorWhite;
      display: inline-block;
      font-family: serif;
      font-style: italic;
      font-size: pxToRem(20);
      padding: pxToRem(18) pxToRem(16) pxToRem(18) pxToRem(50);
      position: relative;
      transition: background-color .12s ease-in-out;
      width: 100%;

      &:not(.s-active),
      &:not(:first-child) {
        border-top: pxToRem(1) solid $colorLightPurple;
      }

      &:visited {
        color: $colorWhite;
      }

      &:hover:not(.s-active) {
        background-color: $colorDarkPurple;
      }
    }
  }

  &_login {
    color: $colorLightPurple;
    font-size: pxToRem(20);
    font-family: serif;
    font-style: italic;
    text-align: center;
    padding: pxToRem(40) 0 pxToRem(15);

    &_link {
      color: $colorWhite;

      &:visited {
        color: $colorWhite;
      }
    }
  }

  @media(min-width: pxToRem(620)) {
    &_contentA {
      .m-formA--search {
        position: relative;
        @include transform(translateY(0));
      }
    }
  }

  @media(min-width: pxToRem(768)) {
    &_contentB {
      padding: pxToRem(10);

      &_container {
        @include flexboxContainer(flex, null, null, space-between, center, null);
      }
    }

    &_iconMenu {
      display: none;
    }

    &_price {
      background-color: transparent;
      color: $colorLightOrange;
      max-width: pxToRem(120);
      padding: 0;

      &_text {
        font-size: pxToRem(14);

        &_featured {
          font-size: pxToRem(18);
        }
      }
    }

    &_nav {}

    &_menu {
      @include flexboxContainer(flex, null, null, space-between, center, null);
      min-width: pxToRem(612);

      &_item {
        display: inline-block;
        width: auto;
      }

      &_link {
        border-radius: pxToRem(8);
        font-size: pxToRem(16);
        padding: pxToRem(18) pxToRem(16);
        position: relative;
        transition: background-color .12s ease-in-out;

        &:not(.s-active),
        &:not(:first-child) {
          border-top: 0;
        }

        &:not(.s-active) {
          padding-right: pxToRem(24);

          &:after {
            content: $arrow;
            display: inline-block;
            position: absolute;
            right: pxToRem(4);
          }
        }

        &:visited {
          color: $colorWhite;
        }

        &:hover:not(.s-active) {
          background-color: $colorDarkPurple;
        }
      }
    }

    &_login {
      font-size: pxToRem(16);
      text-align: left;
      padding: 0;
    }
  }

  @media(min-width: pxToRem(856)) {
    &_menu {
      min-width: pxToRem(640);
    }
  }
}
