@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| Imports
|--------------------------------------------------------------------------
*/
/*@import "compass";*/
/*
|--------------------------------------------------------------------------
| Caminhos
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Width Principal
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Cores
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Fontes
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Resetar css
|--------------------------------------------------------------------------
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

[hidden],
template {
  display: none; }

:focus {
  outline: 0; }

/*
|--------------------------------------------------------------------------
| EMBEDDED CONTENT
|--------------------------------------------------------------------------
*/
img {
  border: 0;
  height: auto;
  max-width: 100%; }

/*
|--------------------------------------------------------------------------
| FORMS
|--------------------------------------------------------------------------
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

/*
|--------------------------------------------------------------------------
| Fontes
|--------------------------------------------------------------------------
*/
@font-face {
  font-family: 'Nome da fonte';
  src: url("../fonts/Caminho/Nome da fonte.ttf") format("truetype"); }

/*
|--------------------------------------------------------------------------
| Geral
|--------------------------------------------------------------------------
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, sans-serif;
  text-rendering: optimizelegibility; }

body {
  -webkit-tap-highlight-color: transparent;
  background: #e6e6e6;
  color: #010101;
  font-size: 17px;
  height: auto;
  line-height: 22px;
  overflow-x: hidden;
  width: 100%; }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1050px;
  position: relative;
  word-wrap: break-word; }

/*
|--------------------------------------------------------------------------
| Links
|--------------------------------------------------------------------------
*/
a {
  color: #000000;
  outline: 0;
  text-decoration: none; }
  a:hover {
    color: #262626; }
  a:visited {
    color: #0d0d0d; }
  a:active {
    color: #0d0d0d; }

/*
|--------------------------------------------------------------------------
| Seleção
|--------------------------------------------------------------------------
*/
img::-moz-selection {
  background: transparent; }
img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

::-webkit-input-placeholder {
  font-size: 14px;
  color: #bab3b3; }

::-moz-placeholder {
  font-size: 14px;
  color: #bab3b3; }

:-ms-input-placeholder {
  font-size: 14px;
  color: #bab3b3; }

:-moz-placeholder {
  font-size: 14px;
  color: #bab3b3; }

/*
|--------------------------------------------------------------------------
| Sprites
|--------------------------------------------------------------------------
*/
.ico.ico-pesquisa {
  background: url("../images/ico-outros.jpg");
  width: 16px;
  height: 20px;
  display: inline-block;
  background-position: 25px; }

.ico.ico-carrinho {
  background: url("../images/ico-outros.jpg");
  width: 38px;
  height: 46px;
  background-position: 0;
  float: left; }

.ico.ico-social {
  background: url("../images/ico-redes-sociais.jpg");
  width: 36px;
  height: 40px;
  display: inline-block;
  margin-right: 20px; }
  .ico.ico-social.ico-facebook {
    background-position: 0px; }
  .ico.ico-social.ico-twitter {
    background-position: -67px; }
  .ico.ico-social.ico-pinterest {
    background-position: -131px; }
  .ico.ico-social.ico-tumblr {
    background-position: -196px; }
  .ico.ico-social.ico-googleplus {
    background-position: -261px; }

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
header {
  background: #fff; }

#menu {
  background: #533569;
  padding: 15px 0;
  color: #ba8eb4;
  font-family: Georgia, serif;
  font-style: italic; }
  #menu nav a {
    color: #fff;
    display: inline-block;
    padding: 12px 15px;
    border-radius: 5px;
    font-family: Georgia, serif;
    font-style: italic; }
    #menu nav a.destaque {
      background: #422a53; }
  #menu nav .links ul {
    display: inline-block; }
    #menu nav .links ul li {
      list-style: none;
      position: relative;
      display: inline-block; }
      #menu nav .links ul li a:not(.destaque):after {
        content: '▾'; }
      #menu nav .links ul li:hover > ul {
        display: inherit; }
      #menu nav .links ul li ul {
        top: 61px;
        left: 0;
        z-index: 1;
        width: 163px;
        background: #724b8e;
        display: none;
        position: absolute; }
        #menu nav .links ul li ul li {
          display: block; }
          #menu nav .links ul li ul li a:after {
            content: '' !important; }
  #menu .login {
    text-align: right; }

#topo {
  padding: 50px 0; }
  #topo h4 {
    padding: 0 10px 0 20px;
    letter-spacing: -.5px;
    font-style: italic; }
    #topo h4 small {
      display: block; }
  #topo .carrinho .text-bag {
    color: #b3b3c3;
    text-transform: uppercase;
    margin: 12px 0 0 15px;
    display: inline-block; }

#free-shipping {
  background: #fafafa;
  color: #aaa;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 15px;
  padding: 10px 0; }

#menu_mobile {
  background: #523468;
  display: none; }
  #menu_mobile.is-active {
    display: block; }
  #menu_mobile nav {
    font-family: Georgia, serif;
    font-style: italic; }
    #menu_mobile nav .links a {
      color: #fff;
      display: block;
      padding: 12px 45px;
      border-radius: 5px;
      font-size: 12pt;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #menu_mobile nav .links a.destaque {
        background: #422a53; }
    #menu_mobile nav .login {
      text-align: center;
      color: #ba8eb4;
      padding: 20px 0 10px; }
      #menu_mobile nav .login a {
        color: #fff;
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 12pt; }

.hamburger {
  display: none;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  top: 28px;
  left: 22px;
  color: inherit;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  position: absolute;
  z-index: 99; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 6px;
  background-color: #523468;
  border-radius: 10px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 6px;
    background-color: #523468;
    border-radius: 10px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--boring .hamburger-inner {
  transition-property: none; }
  .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
    transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
footer {
  background: #e6e6e6;
  padding: 50px 0; }
  footer .sitemap {
    margin-bottom: 25px; }
    footer .sitemap a {
      display: inline-block;
      margin-right: 25px;
      color: #dc381d;
      text-transform: uppercase;
      padding: 0 0 5px; }
  footer .redes-sociais {
    margin-bottom: 12px; }
  footer .newsletter {
    background: #fff;
    border-radius: 5px;
    padding: 20px; }
    footer .newsletter h4 {
      font-family: Georgia, serif;
      font-style: italic;
      margin-bottom: 20px; }

/*
|--------------------------------------------------------------------------
| Index (Home)
|--------------------------------------------------------------------------
*/
main {
  background: #fff;
  padding: 50px 0; }
  main h2 {
    font-size: 18pt;
    margin-bottom: 25px; }
  main .produto {
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer; }
    main .produto img {
      display: block;
      max-width: 224px;
      margin: 20px auto;
      width: 100%; }
    main .produto .info_geral-produto h3 {
      display: inline-block;
      font-size: 12pt; }
    main .produto .info_geral-produto .price {
      font-size: 11pt; }

/*
|--------------------------------------------------------------------------
| Comum
|--------------------------------------------------------------------------
*/
.no-margin {
  margin: 0 !important; }

.cor-primaria {
  color: #dc381d; }

.font-serifa {
  font-family: Georgia, serif; }

.text-center {
  text-align: center; }

.mobile {
  display: none; }

/*
|--------------------------------------------------------------------------
| Botões
|--------------------------------------------------------------------------
*/
.btn {
  border: none;
  border-radius: 4px;
  background: none;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  max-width: 300px;
  padding: 10px; }
  .btn.cor-primaria {
    background: #dc381d;
    color: #fff; }

/*
|--------------------------------------------------------------------------
| Formulários
|--------------------------------------------------------------------------
*/
#form-pesquisa {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 10px;
  max-width: 350px;
  margin-left: 30px; }
  #form-pesquisa i {
    margin: 1px 2px;
    float: left; }
  #form-pesquisa input {
    border: none;
    margin-left: 5px;
    width: calc(100% - 50px); }

#form-newsletter {
  margin-top: 10px; }
  #form-newsletter input {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 10px;
    width: calc(100% - 110px); }
  #form-newsletter button {
    width: 100px; }

/*
|--------------------------------------------------------------------------
| Modal
|--------------------------------------------------------------------------
*/
.modal-bg {
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: none; }
  .modal-bg .modal {
    background: #fff;
    width: 100%;
    max-width: 770px;
    position: relative;
    margin: 100px auto;
    padding: 69px 20px; }
    .modal-bg .modal h3,
    .modal-bg .modal h4,
    .modal-bg .modal p {
      font-family: Georgia, serif;
      margin-bottom: 15px; }
    .modal-bg .modal .fechar_modal {
      float: right;
      cursor: pointer;
      margin-top: -55px;
      font-size: 19pt; }
    .modal-bg .modal .btn {
      width: 155px;
      margin-top: 20px; }

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto; }

@-ms-viewport {
  width: device-width; }

.visible-lg, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block, .visible-md, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-sm, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-xs, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block {
  display: none !important; }

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto; }

.visible-print {
  display: none !important; }

.visible-print-block {
  display: none !important; }

.visible-print-inline {
  display: none !important; }

.visible-print-inline-block {
  display: none !important; }

.col, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px; }

.col, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.clearfix, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
  content: " ";
  display: table; }

.clearfix:after, .container-fluid:after, .container:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

*, :after, :before {
  box-sizing: border-box; }

@media (min-width: 768px) and (max-width: 991px){
  .visible-sm{
    display: block !important; }
  table.visible-sm{
    display: table; }
  tr.visible-sm{
    display: table-row !important; }
  td.visible-sm, th.visible-sm{
    display: table-cell !important; }
  .visible-sm-block{
    display: block !important; }
  .visible-sm-inline{
    display: inline !important; }
  .visible-sm-inline-block{
    display: inline-block !important; }
  .hidden-sm{
    display: none !important; } }

@media (min-width: 768px){
  .col, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9{
    float: left; }
  .col-sm-12{
    width: 100%; }
  .col-sm-11{
    width: 91.66666667%; }
  .col-sm-10{
    width: 83.33333333%; }
  .col-sm-9{
    width: 75%; }
  .col-sm-8{
    width: 66.66666667%; }
  .col-sm-7{
    width: 58.33333333%; }
  .col-sm-6{
    width: 50%; }
  .col-sm-5{
    width: 41.66666667%; }
  .col-sm-4{
    width: 33.33333333%; }
  .col-sm-3{
    width: 25%; }
  .col-sm-2{
    width: 16.66666667%; }
  .col-sm-1{
    width: 8.33333333%; }
  .col-sm-pull-12{
    right: 100%; }
  .col-sm-pull-11{
    right: 91.66666667%; }
  .col-sm-pull-10{
    right: 83.33333333%; }
  .col-sm-pull-9{
    right: 75%; }
  .col-sm-pull-8{
    right: 66.66666667%; }
  .col-sm-pull-7{
    right: 58.33333333%; }
  .col-sm-pull-6{
    right: 50%; }
  .col-sm-pull-5{
    right: 41.66666667%; }
  .col-sm-pull-4{
    right: 33.33333333%; }
  .col-sm-pull-3{
    right: 25%; }
  .col-sm-pull-2{
    right: 16.66666667%; }
  .col-sm-pull-1{
    right: 8.33333333%; }
  .col-sm-pull-0{
    right: auto; }
  .col-sm-push-12{
    left: 100%; }
  .col-sm-push-11{
    left: 91.66666667%; }
  .col-sm-push-10{
    left: 83.33333333%; }
  .col-sm-push-9{
    left: 75%; }
  .col-sm-push-8{
    left: 66.66666667%; }
  .col-sm-push-7{
    left: 58.33333333%; }
  .col-sm-push-6{
    left: 50%; }
  .col-sm-push-5{
    left: 41.66666667%; }
  .col-sm-push-4{
    left: 33.33333333%; }
  .col-sm-push-3{
    left: 25%; }
  .col-sm-push-2{
    left: 16.66666667%; }
  .col-sm-push-1{
    left: 8.33333333%; }
  .col-sm-push-0{
    left: auto; }
  .col-sm-offset-12{
    margin-left: 100%; }
  .col-sm-offset-11{
    margin-left: 91.66666667%; }
  .col-sm-offset-10{
    margin-left: 83.33333333%; }
  .col-sm-offset-9{
    margin-left: 75%; }
  .col-sm-offset-8{
    margin-left: 66.66666667%; }
  .col-sm-offset-7{
    margin-left: 58.33333333%; }
  .col-sm-offset-6{
    margin-left: 50%; }
  .col-sm-offset-5{
    margin-left: 41.66666667%; }
  .col-sm-offset-4{
    margin-left: 33.33333333%; }
  .col-sm-offset-3{
    margin-left: 25%; }
  .col-sm-offset-2{
    margin-left: 16.66666667%; }
  .col-sm-offset-1{
    margin-left: 8.33333333%; }
  .col-sm-offset-0{
    margin-left: 0; } }

@media (min-width: 992px){
  .col, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
    float: left; }
  .col-md-12{
    width: 100%; }
  .col-md-11{
    width: 91.66666667%; }
  .col-md-10{
    width: 83.33333333%; }
  .col-md-9{
    width: 75%; }
  .col-md-8{
    width: 66.66666667%; }
  .col-md-7{
    width: 58.33333333%; }
  .col-md-6{
    width: 50%; }
  .col-md-5{
    width: 41.66666667%; }
  .col-md-4{
    width: 33.33333333%; }
  .col-md-3{
    width: 25%; }
  .col-md-2{
    width: 16.66666667%; }
  .col-md-1{
    width: 8.33333333%; }
  .col-md-pull-12{
    right: 100%; }
  .col-md-pull-11{
    right: 91.66666667%; }
  .col-md-pull-10{
    right: 83.33333333%; }
  .col-md-pull-9{
    right: 75%; }
  .col-md-pull-8{
    right: 66.66666667%; }
  .col-md-pull-7{
    right: 58.33333333%; }
  .col-md-pull-6{
    right: 50%; }
  .col-md-pull-5{
    right: 41.66666667%; }
  .col-md-pull-4{
    right: 33.33333333%; }
  .col-md-pull-3{
    right: 25%; }
  .col-md-pull-2{
    right: 16.66666667%; }
  .col-md-pull-1{
    right: 8.33333333%; }
  .col-md-pull-0{
    right: auto; }
  .col-md-push-12{
    left: 100%; }
  .col-md-push-11{
    left: 91.66666667%; }
  .col-md-push-10{
    left: 83.33333333%; }
  .col-md-push-9{
    left: 75%; }
  .col-md-push-8{
    left: 66.66666667%; }
  .col-md-push-7{
    left: 58.33333333%; }
  .col-md-push-6{
    left: 50%; }
  .col-md-push-5{
    left: 41.66666667%; }
  .col-md-push-4{
    left: 33.33333333%; }
  .col-md-push-3{
    left: 25%; }
  .col-md-push-2{
    left: 16.66666667%; }
  .col-md-push-1{
    left: 8.33333333%; }
  .col-md-push-0{
    left: auto; }
  .col-md-offset-12{
    margin-left: 100%; }
  .col-md-offset-11{
    margin-left: 91.66666667%; }
  .col-md-offset-10{
    margin-left: 83.33333333%; }
  .col-md-offset-9{
    margin-left: 75%; }
  .col-md-offset-8{
    margin-left: 66.66666667%; }
  .col-md-offset-7{
    margin-left: 58.33333333%; }
  .col-md-offset-6{
    margin-left: 50%; }
  .col-md-offset-5{
    margin-left: 41.66666667%; }
  .col-md-offset-4{
    margin-left: 33.33333333%; }
  .col-md-offset-3{
    margin-left: 25%; }
  .col-md-offset-2{
    margin-left: 16.66666667%; }
  .col-md-offset-1{
    margin-left: 8.33333333%; }
  .col-md-offset-0{
    margin-left: 0; } }

@media (min-width: 992px) and (max-width: 1199px){
  .visible-md{
    display: block !important; }
  table.visible-md{
    display: table; }
  tr.visible-md{
    display: table-row !important; }
  td.visible-md, th.visible-md{
    display: table-cell !important; }
  .visible-md-block{
    display: block !important; }
  .visible-md-inline{
    display: inline !important; }
  .visible-md-inline-block{
    display: inline-block !important; }
  .hidden-md{
    display: none !important; } }

@media (min-width: 1200px){
  .visible-lg{
    display: block !important; }
  table.visible-lg{
    display: table; }
  tr.visible-lg{
    display: table-row !important; }
  td.visible-lg, th.visible-lg{
    display: table-cell !important; }
  .visible-lg-block{
    display: block !important; }
  .visible-lg-inline{
    display: inline !important; }
  .visible-lg-inline-block{
    display: inline-block !important; }
  .hidden-lg{
    display: none !important; }
  .col, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{
    float: left; }
  .col-lg-12{
    width: 100%; }
  .col-lg-11{
    width: 91.66666667%; }
  .col-lg-10{
    width: 83.33333333%; }
  .col-lg-9{
    width: 75%; }
  .col-lg-8{
    width: 66.66666667%; }
  .col-lg-7{
    width: 58.33333333%; }
  .col-lg-6{
    width: 50%; }
  .col-lg-5{
    width: 41.66666667%; }
  .col-lg-4{
    width: 33.33333333%; }
  .col-lg-3{
    width: 25%; }
  .col-lg-2{
    width: 16.66666667%; }
  .col-lg-1{
    width: 8.33333333%; }
  .col-lg-pull-12{
    right: 100%; }
  .col-lg-pull-11{
    right: 91.66666667%; }
  .col-lg-pull-10{
    right: 83.33333333%; }
  .col-lg-pull-9{
    right: 75%; }
  .col-lg-pull-8{
    right: 66.66666667%; }
  .col-lg-pull-7{
    right: 58.33333333%; }
  .col-lg-pull-6{
    right: 50%; }
  .col-lg-pull-5{
    right: 41.66666667%; }
  .col-lg-pull-4{
    right: 33.33333333%; }
  .col-lg-pull-3{
    right: 25%; }
  .col-lg-pull-2{
    right: 16.66666667%; }
  .col-lg-pull-1{
    right: 8.33333333%; }
  .col-lg-pull-0{
    right: auto; }
  .col-lg-push-12{
    left: 100%; }
  .col-lg-push-11{
    left: 91.66666667%; }
  .col-lg-push-10{
    left: 83.33333333%; }
  .col-lg-push-9{
    left: 75%; }
  .col-lg-push-8{
    left: 66.66666667%; }
  .col-lg-push-7{
    left: 58.33333333%; }
  .col-lg-push-6{
    left: 50%; }
  .col-lg-push-5{
    left: 41.66666667%; }
  .col-lg-push-4{
    left: 33.33333333%; }
  .col-lg-push-3{
    left: 25%; }
  .col-lg-push-2{
    left: 16.66666667%; }
  .col-lg-push-1{
    left: 8.33333333%; }
  .col-lg-push-0{
    left: auto; }
  .col-lg-offset-12{
    margin-left: 100%; }
  .col-lg-offset-11{
    margin-left: 91.66666667%; }
  .col-lg-offset-10{
    margin-left: 83.33333333%; }
  .col-lg-offset-9{
    margin-left: 75%; }
  .col-lg-offset-8{
    margin-left: 66.66666667%; }
  .col-lg-offset-7{
    margin-left: 58.33333333%; }
  .col-lg-offset-6{
    margin-left: 50%; }
  .col-lg-offset-5{
    margin-left: 41.66666667%; }
  .col-lg-offset-4{
    margin-left: 33.33333333%; }
  .col-lg-offset-3{
    margin-left: 25%; }
  .col-lg-offset-2{
    margin-left: 16.66666667%; }
  .col-lg-offset-1{
    margin-left: 8.33333333%; }
  .col-lg-offset-0{
    margin-left: 0; } }

@media (max-width: 468px){
  main .produto{
    margin-bottom: 13px;
    height: 280px; } }

@media (max-width: 767px){
  .visible-xs{
    display: block !important; }
  table.visible-xs{
    display: table; }
  tr.visible-xs{
    display: table-row !important; }
  td.visible-xs, th.visible-xs{
    display: table-cell !important; }
  .visible-xs-block{
    display: block !important; }
  .visible-xs-inline{
    display: inline !important; }
  .visible-xs-inline-block{
    display: inline-block !important; }
  .hidden-xs{
    display: none !important; } }

@media (max-width: 768px){
  .ico.ico-carrinho{
    display: block;
    margin: 0 auto;
    float: none; }
  .ico.ico-social{
    margin-right: 19px; }
  #topo{
    padding: 10px 0; }
  #topo img{
    margin-top: 17px; }
  #topo h1{
    text-align: center; }
  #topo .carrinho{
    text-align: center; }
  #topo .carrinho .text-bag{
    margin: 0 0; }
  .hamburger{
    display: block; }
  footer .redes-sociais{
    text-align: center; }
  main h2{
    text-align: center; }
  main .produto .info_geral-produto{
    padding: 10px 20px; }
  .desktop{
    display: none; }
  .mobile{
    display: block; }
  .modal-bg .modal{
    margin: 0 auto;
    height: 100vh;
    overflow: scroll; }
  .modal-bg .modal img{
    margin-top: 20px; }
  .col-xs-offset-12{
    margin-left: 100%; }
  .col-xs-offset-11{
    margin-left: 91.66666667%; }
  .col-xs-offset-10{
    margin-left: 83.33333333%; }
  .col-xs-offset-9{
    margin-left: 75%; }
  .col-xs-offset-8{
    margin-left: 66.66666667%; }
  .col-xs-offset-7{
    margin-left: 58.33333333%; }
  .col-xs-offset-6{
    margin-left: 50%; }
  .col-xs-offset-5{
    margin-left: 41.66666667%; }
  .col-xs-offset-4{
    margin-left: 33.33333333%; }
  .col-xs-offset-3{
    margin-left: 25%; }
  .col-xs-offset-2{
    margin-left: 16.66666667%; }
  .col-xs-offset-1{
    margin-left: 8.33333333%; }
  .col-xs-offset-0{
    margin-left: 0; } }

@media (max-width: 860px){
  #menu nav a{
    padding: 12px 9px !important;
    font-size: 11pt !important; } }

@media print{
  .visible-print{
    display: block !important; }
  table.visible-print{
    display: table; }
  tr.visible-print{
    display: table-row !important; }
  td.visible-print, th.visible-print{
    display: table-cell !important; }
  .visible-print-block{
    display: block !important; }
  .visible-print-inline{
    display: inline !important; }
  .visible-print-inline-block{
    display: inline-block !important; }
  .hidden-print{
    display: none !important; } }

@media (max-width: 974px){
  #menu nav a{
    padding: 12px 12px;
    font-size: 12pt; } }

@media (max-width: 1050px){
  .container{
    padding: 0 10px; } }

/*# sourceMappingURL=style.css.map */
