/*
|--------------------------------------------------------------------------
| Caminhos
|--------------------------------------------------------------------------
*/
$image-path: '../images/'; // Caminho das imagens
$font-path: '../fonts/'; // Caminho das fontes

/*
|--------------------------------------------------------------------------
| Width Principal
|--------------------------------------------------------------------------
*/
$main-width: 1200px; // Tamanho do Container

/*
|--------------------------------------------------------------------------
| Cores
|--------------------------------------------------------------------------
*/
$bg-color: $branco;
$text-color: $preto;
$link-color: $azul;
$cor-primaria: $vermelho;
$cor-secundaria: $amarelo;

$braco: #ffffff;
$preto: #010101;
$azul: #0000ff;
$vermelho: #ff0000;
$amarelo: #fff000;

/*
|--------------------------------------------------------------------------
| Fontes
|--------------------------------------------------------------------------
*/
$text-font: $sem-serifa;
$title-font: $serifa;
$sem-serifa: Arial, sans-serif;
$serifa: Georgia, serif;