//Estilos de utlidades
@import '../_utilities/utilities';

.s-menuOpen {
  .l-header_iconMenu_bar {
    &:nth-child(1) {
      @include transform(rotate(-45deg) translate(pxToRem(-5.5), pxToRem(6)));
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      @include transform(rotate(45deg) translate(pxToRem(-5), pxToRem(-6)));
    }
  }

  @media(max-width: pxToRem(619)) {
    .l-header_logo {
      @include transform(translateY(pxToRem(-500)));
      margin-left: 25%;
      position: absolute;
    }

    .m-formA--search {
      position: relative;
      @include transform(translateY(0));
    }

    .l-header_quantify {
      display: none;
    }
  }

  @media(max-width: pxToRem(767)) {
    .l-header_contentB {
      @include transform(scaleY(1) translateY(0));
    }
  }
}

//classe de link ativo no menu
.s-active {
  background-color: $colorDarkPurple;
}
